# Limpieza de bienes raíces

Este es un conjunto de datos (dataset) reales que fue descargado usando técnicas de web scraping. La data contiene registros de **Fotocasa**, el cual es uno de los sitios más populares de bienes raíces en España. Por favor no hagas esto (web scraping) a no ser que sea para propósitos académicos.

El dataset fue descargado hace algunos años por Henry Navarro y en ningún caso se obtuvo beneficio económico de ello.

Contiene miles de datos de casas reales publicadas en la web www.fotocasa.com. Tu objetivo es extraer tanta información como sea posible con el conocimiento que tienes hasta ahora de ciencia de datos, por ejemplo ¿cuál es la casa más cara en todo el dataset?

Empecemos precisamente con esa pregunta... ¡Buena suerte!

#### Ejercicio 00. Lee el dataset assets/real_estate.csv e intenta visualizar la tabla (★☆☆)

In [3]:
import pandas as pd

# Este archivo CSV contiene puntos y comas en lugar de comas como separadores
ds = pd.read_csv('https://raw.githubusercontent.com/JuanBarcenasManuel/realestate-datacleanup-exercise/refs/heads/main/assets/real_estate.csv', sep=';')
ds

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
0,1,153771986,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,103.0,195000,...,0,0,0,0,0,0,"40,2948276786438","-3,44402412135624",NaN,NaN
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,...,0,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN
2,3,153430440,False,look find boadilla,916350408.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,390000,...,0,0,0,0,0,0,"40,4115646786438","-3,90662252135624",NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,...,0,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN
4,5,153180188,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,106.0,172000,...,0,0,0,0,0,0,"40,2998774864376","-3,45226301356237",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15330,15331,153901377,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,1.0,96.0,259470,...,0,0,0,0,0,0,"40,45416","-3,70286",NaN,NaN
15331,15332,150394373,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,150.0,165000,...,0,0,0,0,0,0,"40,36652","-3,48951",NaN,NaN
15332,15333,153901397,False,tecnocasa torrelodones,912780348.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,2.0,175.0,495000,...,0,0,0,0,0,0,"40,57444","-3,92124",NaN,NaN
15333,15334,152607440,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,101.0,195000,...,0,0,0,0,0,0,"40,36967","-3,48105",NaN,NaN
15334,15335,153901356,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,152.0,765000,...,0,0,0,0,0,0,"40,45773","-3,69068",NaN,NaN

#### Ejercicio 01. ¿Cuál es la casa más cara en todo el dataset? (★☆☆)

Imprime la dirección y el precio de la casa seleccionada. Por ejemplo:

`La casa con dirección en Calle del Prado, Nº20 es la más cara y su precio es de 5000000 USD`

In [1]:
import pandas as pd

# Este archivo CSV contiene puntos y comas en lugar de comas como separadores
ds = pd.read_csv('https://raw.githubusercontent.com/JuanBarcenasManuel/realestate-datacleanup-exercise/refs/heads/main/assets/real_estate.csv', sep=';')
ds=ds.sort_values(by='price', ascending=False)
most_expensie=ds.iloc[0]
print(f"La casa con dirección en {most_expensie['address']} es la más cara y su precio es de {most_expensie['price']} USD")

La casa con dirección en El Escorial es la más cara y su precio es de 8500000 USD

#### Ejercicio 02. ¿Cuál es la casa más barata del dataset? (★☆☆)

Imprime la dirección y el precio de la casa seleccionada. Por ejemplo:

`La casa con dirección en Calle Alcalá, Nº58 es la más barata y su precio es de 12000 USD`

In [ ]:

# Este archivo CSV contiene puntos y comas en lugar de comas como separadores
ds = pd.read_csv('https://raw.githubusercontent.com/JuanBarcenasManuel/realestate-datacleanup-exercise/refs/heads/main/assets/real_estate.csv', sep=';')
ds=ds.sort_values(by='price', ascending=True)
Cheapest=ds.iloc[0]
print(f"La casa con dirección en {Cheapest['address']} es la más barata y su precio es de {Cheapest['price']} USD")

#### Ejercicio 03. ¿Cuál es la casa más grande y la más pequeña del dataset? (★☆☆)

Imprime la dirección y el área de las casas seleccionadas. Por ejemplo:

`La casa más grande está ubicada en Calle Gran Vía, Nº38 y su superficie es de 5000 metros`

`La casa más pequeña está ubicada en Calle Mayor, Nº12 y su superficie es de 200 metros`

In [ ]:
ds = pd.read_csv('https://raw.githubusercontent.com/JuanBarcenasManuel/realestate-datacleanup-exercise/refs/heads/main/assets/real_estate.csv', sep=';')

# Drop rows where 'surface' is NaN to get meaningful results for smallest house
ds_cleaned = ds.dropna(subset=['surface'])

ds_sorted = ds_cleaned.sort_values(by='surface', ascending=True)

# Correctly assign Largest and Smallest after sorting in ascending order
Smallest = ds_sorted.iloc[0]
Largest = ds_sorted.iloc[-1]

print(f"La casa más grande está ubicada en {Largest['address']} y su superficie es de {Largest['surface']} metros")
print(f"La casa más pequeña está ubicada en {Smallest['address']} y su superficie es de {Smallest['surface']} metros")

#### Ejercicio 04. ¿Cuantas poblaciones (columna level5) contiene el dataset? (★☆☆)

Imprime el nombre de las poblaciones separadas por coma. Por ejemplo:

`> print(populations)`

`population1, population2, population3, ...`

In [ ]:
ds = pd.read_csv('https://raw.githubusercontent.com/JuanBarcenasManuel/realestate-datacleanup-exercise/refs/heads/main/assets/real_estate.csv', sep=';')

# Get unique values from the 'level5' column
populations = ds['level5'].unique()

# Convert the numpy array of populations to a list and then join them with a comma and space
populations_str = ', '.join(populations.astype(str))

print(populations_str)

#### Ejercicio 05. ¿El dataset contiene valores no admitidos (NAs)? (★☆☆)

Imprima un booleano (`True` o `False`) seguido de la fila/columna que contiene el NAs.

In [ ]:
ds = pd.read_csv('https://raw.githubusercontent.com/JuanBarcenasManuel/realestate-datacleanup-exercise/refs/heads/main/assets/real_estate.csv', sep=';')

nas_exist = ds.isnull().any().any()

if nas_exist:
    print(True)
    na_columns = ds.columns[ds.isnull().any()].tolist()
    print(f"Columnas con NAs: {na_columns}")
else:
    print(False)

#### Ejercicio 06. Elimina los NAs del dataset, si aplica (★★☆)

Imprima una comparación entre las dimensiones del DataFrame original versus el DataFrame después de las eliminaciones.

In [ ]:
original_shape = ds.shape
ds = ds.dropna(subset=["zipCode"])

print(f"Original DataFrame dimensions: {original_shape}")
print(f"DataFrame dimensions after dropping NAs in 'zipCode': {ds.shape}")

#### Ejercicio 07. ¿Cuál la media de precios en la población (columna level5) de "Arroyomolinos (Madrid)"? (★★☆)

Imprima el valor obtenido.

In [ ]:
ds = pd.read_csv('https://raw.githubusercontent.com/JuanBarcenasManuel/realestate-datacleanup-exercise/refs/heads/main/assets/real_estate.csv', sep=';')

arroyomolinos_prices = ds[ds['level5'] == 'Arroyomolinos (Madrid)']['price']
mean_price_arroyomolinos = arroyomolinos_prices.mean()

print(f"La media de precios en Arroyomolinos (Madrid) es: {mean_price_arroyomolinos:.2f} EUR")

#### Ejercicio 08. Trazar el histograma de los precios para la población (level5 column) de "Arroyomolinos (Madrid)" y explica qué observas (★★☆)

Imprime el histograma de los precios y escribe en la celda del Markdown un breve análisis del trazado.

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd

ds = pd.read_csv('https://raw.githubusercontent.com/JuanBarcenasManuel/realestate-datacleanup-exercise/refs/heads/main/assets/real_estate.csv', sep=';')

# Filter for Arroyomolinos (Madrid) and get prices
arroyomolinos_prices = ds[ds['level5'] == 'Arroyomolinos (Madrid)']['price']

plt.figure(figsize=(10, 6))
plt.hist(arroyomolinos_prices, bins=20, edgecolor='black')
plt.title('Distribución de Precios en Arroyomolinos (Madrid)')
plt.xlabel('Precio (EUR)')
plt.ylabel('Frecuencia')
plt.grid(axis='y', alpha=0.75)
plt.show()

**TODO: Markdown**. Para escribir aquí, haz doble clic en esta celda, elimina este contenido y coloca lo que quieras escribir. Luego ejecuta la celda.

#### Ejercicio 09. ¿Son los precios promedios de "Valdemorillo" y "Galapagar" los mismos? (★★☆)

Imprime ambos promedios y escribe una conclusión sobre ellos.

In [ ]:
import pandas as pd

ds = pd.read_csv('https://raw.githubusercontent.com/JuanBarcenasManuel/realestate-datacleanup-exercise/refs/heads/main/assets/real_estate.csv', sep=';')

valdemorillo_prices = ds[ds['level5'] == 'Valdemorillo']['price']
mean_price_valdemorillo = valdemorillo_prices.mean()

galapagar_prices = ds[ds['level5'] == 'Galapagar']['price']
mean_price_galapagar = galapagar_prices.mean()

print(f"La media de precios en Valdemorillo es: {mean_price_valdemorillo:.2f} EUR")
print(f"La media de precios en Galapagar es: {mean_price_galapagar:.2f} EUR")

#### Ejercicio 10. ¿Son los promedios de precio por metro cuadrado (precio/m2) de "Valdemorillo" y "Galapagar" los mismos? (★★☆)

Imprime ambos promedios de precio por metro cuadrado y escribe una conclusión sobre ellos.

Pista: Crea una nueva columna llamada `pps` (*price per square* o precio por metro cuadrado) y luego analiza los valores.

In [ ]:
ds = pd.read_csv('https://raw.githubusercontent.com/JuanBarcenasManuel/realestate-datacleanup-exercise/refs/heads/main/assets/real_estate.csv', sep=';')

ds['pps'] = ds['price'] / ds['surface']
valdemorillo_pps = ds[ds['level5'] == 'Valdemorillo']['pps']
galapagar_pps = ds[ds['level5'] == 'Galapagar']['pps']

mean_pps_valdemorillo = valdemorillo_pps.mean()
mean_pps_galapagar = galapagar_pps.mean()

print(f"El promedio de precio por metro cuadrado en Valdemorillo es: {mean_pps_valdemorillo:.2f} EUR/m2")
print(f"El promedio de precio por metro cuadrado en Galapagar es: {mean_pps_galapagar:.2f} EUR/m2")
print("En conclusion, el precio en Valdemorillo es mas economico")

#### Ejercicio 11. Analiza la relación entre la superficie y el precio de las casas. (★★☆)

Pista: Puedes hacer un `scatter plot` y luego escribir una conclusión al respecto.

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

ds = pd.read_csv('https://raw.githubusercontent.com/JuanBarcenasManuel/realestate-datacleanup-exercise/refs/heads/main/assets/real_estate.csv', sep=';')
plt.figure(figsize=(10, 6))
sns.scatterplot(data=ds, x='surface', y='price')
plt.title('Relación entre Superficie y Precio de las Casas')
plt.xlabel('Superficie (m2)')
plt.ylabel('Precio (EUR)')
plt.grid(axis='y', alpha=0.75)
plt.show()

**TODO: Markdown**. Para escribir aquí, haz doble clic en esta celda, elimina este contenido y coloca lo que quieras escribir. Luego ejecuta la celda.

#### Ejercicio 12. ¿Cuántas agencia de bienes raíces contiene el dataset? (★★☆)

Imprime el valor obtenido.

In [ ]:
ds = pd.read_csv('https://raw.githubusercontent.com/JuanBarcenasManuel/realestate-datacleanup-exercise/refs/heads/main/assets/real_estate.csv', sep=';')
agencias = ds['realEstate_name'].nunique()
print(f"El dataset contiene {agencias} agencias")

#### Ejercicio 13. ¿Cuál es la población (columna level5) que contiene la mayor cantidad de casas?(★★☆)

Imprima la población y el número de casas.

In [ ]:
import pandas as pd

ds = pd.read_csv('https://raw.githubusercontent.com/JuanBarcenasManuel/realestate-datacleanup-exercise/refs/heads/main/assets/real_estate.csv', sep=';')

houses_per_population = ds['level5'].value_counts()

# Get the population with the maximum number of houses
most_houses_population = houses_per_population.idxmax()
max_houses_count = houses_per_population.max()

print(f"La población con la mayor cantidad de casas es '{most_houses_population}' con {max_houses_count} casas.")

#### Ejercicio 14. Ahora vamos a trabajar con el "cinturón sur" de Madrid. Haz un subconjunto del DataFrame original que contenga las siguientes poblaciones (columna level5): "Fuenlabrada", "Leganés", "Getafe", "Alcorcón" (★★☆)

Pista: Filtra el DataFrame original usando la columna `level5` y la función `isin`.

In [ ]:
import pandas as pd

ds = pd.read_csv('https://raw.githubusercontent.com/JuanBarcenasManuel/realestate-datacleanup-exercise/refs/heads/main/assets/real_estate.csv', sep=';')

southern_belt_populations = ['Fuenlabrada', 'Leganés', 'Getafe', 'Alcorcón']
ds_southern_belt = ds[ds['level5'].isin(southern_belt_populations)]

print(f"Dimensiones del subconjunto del cinturón sur: {ds_southern_belt.shape}")
print("Primeras 5 filas del subconjunto:")
print(ds_southern_belt.head())

#### Ejercicio 15. Traza un gráfico de barras de la mediana de los precios y explica lo que observas (debes usar el subconjunto obtenido del Ejercicio 14) (★★★)

Imprima un gráfico de barras de la mediana de precios y escriba en la celda Markdown un breve análisis sobre el gráfico.

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
median_prices_southern_belt = ds_southern_belt.groupby('level5')['price'].median().sort_values(ascending=False)
plt.figure(figsize=(10, 6))
median_prices_southern_belt.plot(kind='bar', color='skyblue')
plt.title('Mediana de Precios por Población en el Cinturón Sur de Madrid')
plt.xlabel('Población')
plt.ylabel('Mediana del Precio (EUR)')
plt.xticks(rotation=45, ha='right')
plt.grid(axis='y', linestyle='--', alpha=0.7)
plt.tight_layout()
plt.show()

**TODO: Markdown**. Para escribir aquí, haz doble clic en esta celda, elimina este contenido y coloca lo que quieras escribir. Luego ejecuta la celda.

#### Ejercicio 16. Calcula la media y la varianza de muestra para las siguientes variables: precio, habitaciones, superficie y baños (debes usar el subconjunto obtenido del Ejercicio 14) (★★★)

Imprime ambos valores por cada variable.

In [ ]:
import pandas as pd

ds = pd.read_csv('https://raw.githubusercontent.com/JuanBarcenasManuel/realestate-datacleanup-exercise/refs/heads/main/assets/real_estate.csv', sep=';')
prices_southern_belt = ds_southern_belt.groupby('level5')['price'].describe()
rooms=ds_southern_belt.groupby('level5')['rooms'].describe()
surface=ds_southern_belt.groupby('level5')['surface'].describe()
bathrooms=ds_southern_belt.groupby('level5')['bathrooms'].describe()
print(median_prices_southern_belt)
print(rooms)
print(surface)
print(bathrooms)

#### Ejercicio 17. ¿Cuál es la casa más cara de cada población? Debes usar el subset obtenido en la pregunta 14 (★★☆)

Imprime tanto la dirección como el precio de la casa seleccionada de cada población. Puedes imprimir un DataFrame o una sola línea para cada población.

In [ ]:
import pandas as pd

ds = pd.read_csv('https://raw.githubusercontent.com/JuanBarcenasManuel/realestate-datacleanup-exercise/refs/heads/main/assets/real_estate.csv', sep=';')

southern_belt_populations = ['Fuenlabrada', 'Leganés', 'Getafe', 'Alcorcón']
ds_southern_belt = ds[ds['level5'].isin(southern_belt_populations)]
ds_southern_belt = ds_southern_belt.sort_values(by='price', ascending=False)
for population in southern_belt_populations:
    most_expensive_house = ds_southern_belt[ds_southern_belt['level5'] == population].iloc[0]
    print(f"La casa más cara en {population} es la {most_expensive_house['address']} con un precio de {most_expensive_house['price']} EUR.")

#### Ejercicio 18. Normaliza la variable de precios para cada población y traza los 4 histogramas en el mismo gráfico (debes usar el subconjunto obtenido en la pregunta 14) (★★★)

Para el método de normalización, puedes usar el que consideres adecuado, no hay una única respuesta correcta para esta pregunta. Imprime el gráfico y escribe en la celda de Markdown un breve análisis sobre el gráfico.

Pista: Puedes ayudarte revisando la demostración multihist de Matplotlib.

In [ ]:
import pandas as pd

ds = pd.read_csv('https://raw.githubusercontent.com/JuanBarcenasManuel/realestate-datacleanup-exercise/refs/heads/main/assets/real_estate.csv', sep=';')

southern_belt_populations = ['Fuenlabrada', 'Leganés', 'Getafe', 'Alcorcón']
ds_southern_belt = ds[ds['level5'].isin(southern_belt_populations)]
ds_southern_belt = ds_southern_belt.sort_values(by='price', ascending=False)
plt.hist(ds_southern_belt[ds_southern_belt['level5'] == 'Fuenlabrada']['price'], bins=20, alpha=0.5, label='Fuenlabrada')
plt.hist(ds_southern_belt[ds_southern_belt['level5'] == 'Leganés']['price'], bins=20, alpha=0.5, label='Leganés')
plt.hist(ds_southern_belt[ds_southern_belt['level5'] == 'Getafe']['price'], bins=20, alpha=0.5, label='Getafe')
plt.hist(ds_southern_belt[ds_southern_belt['level5'] == 'Alcorcón']['price'], bins=20, alpha=0.5, label='Alcorcón')
plt
plt.xlabel('Precio (EUR)')
plt.ylabel('Frecuencia')
plt.title('Distribución de Precios Normalizada por Población')
plt.legend()
plt.show()

**TODO: Markdown**. Para escribir aquí, haz doble clic en esta celda, elimina este contenido y coloca lo que quieras escribir. Luego ejecuta la celda.

#### Ejercicio 19. ¿Qué puedes decir sobre el precio por metro cuadrado (precio/m2) entre los municipios de 'Getafe' y 'Alcorcón'? Debes usar el subconjunto obtenido en la pregunta 14 (★★☆)

Pista: Crea una nueva columna llamada `pps` (price per square en inglés) y luego analiza los valores

In [ ]:
import pandas as pd

ds = pd.read_csv('https://raw.githubusercontent.com/JuanBarcenasManuel/realestate-datacleanup-exercise/refs/heads/main/assets/real_estate.csv', sep=';')

southern_belt_populations = ['Getafe', 'Alcorcón']
ds_southern_belt = ds[ds['level5'].isin(southern_belt_populations)]
ds_southern_belt['pps'] = ds_southern_belt['price'] / ds_southern_belt['surface']
mean_pps_getafe = ds_southern_belt[ds_southern_belt['level5'] == 'Getafe']['pps'].mean()
mean_pps_alcorcon = ds_southern_belt[ds_southern_belt['level5'] == 'Alcorcón']['pps'].mean()
print(f"El precio por metro cuadrado medio en Getafe es: {mean_pps_getafe:.2f} EUR/m2")
print(f"El precio por metro cuadrado medio en Alcorcón es: {mean_pps_alcorcon:.2f} EUR/m2")
print("El precio de ALcaron es mas economico")

#### Ejercicio 20. Realiza el mismo gráfico para 4 poblaciones diferentes (columna level5) y colócalos en el mismo gráfico. Debes usar el subconjunto obtenido en la pregunta 14 (★★☆)
Pista: Haz un diagrama de dispersión de cada población usando subgráficos (subplots).

In [ ]:
import pandas as pd

ds = pd.read_csv('https://raw.githubusercontent.com/JuanBarcenasManuel/realestate-datacleanup-exercise/refs/heads/main/assets/real_estate.csv', sep=';')

southern_belt_populations = ['Fuenlabrada', 'Leganés', 'Getafe', 'Alcorcón']
ds_southern_belt = ds[ds['level5'].isin(southern_belt_populations)]
ds_southern_belt = ds_southern_belt.sort_values(by='price', ascending=False)
plt.subplot(2, 2, 1)
plt.hist(ds_southern_belt[ds_southern_belt['level5'] == 'Fuenlabrada']['price'], bins=20, alpha=0.5, label='Fuenlabrada')
plt.hist(ds_southern_belt[ds_southern_belt['level5'] == 'Leganés']['price'], bins=20, alpha=0.5, label='Leganés')
plt.hist(ds_southern_belt[ds_southern_belt['level5'] == 'Getafe']['price'], bins=20, alpha=0.5, label='Getafe')
plt, plt.hist(ds_southern_belt[ds_southern_belt['level5'] == 'Alcorcón']['price'], bins=20, alpha=0.5, label='Alcorcón')
plt
plt.xlabel('Precio (EUR)')
plt.ylabel('Frecuencia')
plt.title('Distribución de Precios Normalizada por Población')
plt.legend()
plt.show()

#### Ejercicio 21. Realiza un trazado de las coordenadas (columnas latitud y longitud) del cinturón sur de Madrid por color de cada población (debes usar el subconjunto obtenido del Ejercicio 14) (★★★★)

Ejecuta la siguiente celda y luego comienza a codear en la siguiente. Debes implementar un código simple que transforme las columnas de coordenadas en un diccionario de Python (agrega más información si es necesario) y agrégala al mapa.

In [ ]:
from ipyleaflet import Map, basemaps

# Mapa centrado en Madrid
map = Map(center = (40.35, -3.8), zoom = 11.5, min_zoom = 1, max_zoom = 20,
    basemap=basemaps.OpenStreetMap.Mapnik)
map

Map(center=[40.35, -3.8], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_ou…

In [ ]:
ds_southern_belt['latitude'] = ds_southern_belt['latitude'].str.replace(',', '.').astype(float)
ds_southern_belt['longitude'] = ds_southern_belt['longitude'].str.replace(',', '.').astype(float)
coordenadas = [
    {
        "lat": row['latitude'],
        "lon": row['longitude'],
        "poblacion": row['level5']
    }
    for _, row in ds_southern_belt.iterrows()
]
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(figsize=(10, 8))
sns.scatterplot(
    data=ds_southern_belt,
    x='longitude',
    y='latitude',
    hue='level5',        # color por población
    palette='tab10',
    s=60
)

plt.title('Coordenadas del cinturón sur de Madrid por población')
plt.xlabel('Longitud')
plt.ylabel('Latitud')
plt.grid(True)
plt.show()